@{
    ViewData["Title"] = "Log In";
}
<h1>Log In:</h1>
@model LoginForm
@{
	if(ViewBag.Message is not null)
	{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Warning!</strong>
			<ul>
				<li>@ViewBag.Message</li>
			</ul>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
}
@using(Html.BeginForm())
{
	<div class="mb-3">
		@Html.LabelFor(x => x.Email, new Dictionary<string, object>() { {"class", "form-label"} })
		@Html.TextBoxFor(x => x.Email, new Dictionary<string, object>() { {"class", "form-control"} })
		@Html.ValidationMessageFor(x => x.Email)
	</div>
	<div class="mb-3">
		@Html.LabelFor(x => x.Password, new Dictionary<string, object>() { {"class", "form-label"} })
		@Html.TextBoxFor(x => x.Password, new Dictionary<string, object>() { {"class", "form-control"}, {"type", "password"} })
		@Html.ValidationMessageFor(x => x.Password)
	</div>
	<button class="btn btn-primary" type="submit">Log In</button>
	<text>Zaregistrujte se <a href="@Url.Action("Register", "Login")">zde</a></text>
}
